In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [75]:
df=pd.read_csv("creditcard.csv")
df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [76]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [78]:
df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [79]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [80]:
df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

# a=legit
# b=fraud

In [81]:
#remove=['V1','V2']
#df.drop(remove,axis=1,inplace=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [83]:
#remove=['V3','V4','V5','V6','V7','V8','V9','V10','V11','V12','V13','V14','V15','V16','V17','V18','V19','V20',
 #    'V21','V22','V23','V24','V25','V26','V27','V28']
#df.drop(remove,axis=1,inplace=True)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [85]:
a=df[df.Class == 0]
b=df[df.Class == 1]

In [86]:
print(a.shape)
print(b.shape)

(284315, 31)
(492, 31)

# no.of fraud transaction=492

In [87]:
a=a.sample(n=492)

# this are the random data of B

In [88]:
ab=pd.concat([a,b],axis=0)
ab.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
63378,50688.0,-0.789473,-0.213442,2.092409,-0.127917,-0.741281,0.606877,0.025704,0.348497,-1.318695,...,-0.018456,0.288046,0.034852,-0.037877,0.059103,-0.232039,0.123793,0.111582,111.50,0
249085,154241.0,2.058913,-1.156639,-0.977419,-0.923684,-0.561308,0.043752,-0.764923,-0.058918,0.100060,...,-0.210274,-0.719033,0.289666,0.015163,-0.372677,-0.573232,-0.008820,-0.027873,93.70,0
137459,82168.0,-0.905604,0.104505,0.019464,-0.244103,-0.902488,2.620772,2.503139,0.154295,-1.061139,...,-0.135497,-0.293432,0.505461,-1.324073,-0.865838,0.905221,0.158693,-0.012775,500.00,0
79825,58193.0,-0.484978,0.739501,1.331920,-0.295815,0.976706,1.410745,0.464793,0.480221,-0.452680,...,-0.146457,-0.096035,0.081209,-1.084010,-0.545968,0.156185,0.144333,-0.150376,9.98,0
205406,135732.0,1.882235,-0.197408,-1.826593,0.321470,0.223015,-0.534729,-0.050564,0.026145,0.907462,...,-0.184232,-0.494610,0.188357,0.547730,-0.149175,-0.140207,-0.026827,-0.015403,58.12,0

In [89]:
ab["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [90]:
features=df.iloc[:,1:]
target=df.iloc[:,0]

In [91]:
features.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class'],
      dtype='object')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [93]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(features,target,test_size=0.30,random_state=1)
print(xtrain.shape,xtest.shape,ytrain.shape,ytest.shape)

(199364, 30) (85443, 30) (199364,) (85443,)

In [94]:
x=ab.drop(columns='Class',axis=1)
y=ab['Class']

In [95]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
63378    50688.0 -0.789473 -0.213442  2.092409 -0.127917 -0.741281  0.606877
249085  154241.0  2.058913 -1.156639 -0.977419 -0.923684 -0.561308  0.043752
137459   82168.0 -0.905604  0.104505  0.019464 -0.244103 -0.902488  2.620772
79825    58193.0 -0.484978  0.739501  1.331920 -0.295815  0.976706  1.410745
205406  135732.0  1.882235 -0.197408 -1.826593  0.321470  0.223015 -0.534729
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
63378   0.025704  0.348497 -1.318695  ... -0.265842 -0.018456  0.288046
249085 -0.764923 -0.058918  0.100060  ...  0.207469 -0.210274 -0.719033
137459  2.503139  0.154295 -1.061139  ...  0.029741 -0.135497 -0.293432
79825   0.464793  0.480221 -0.452680  ...  0.040802 -0.146457 -0.096035
205406 -0.050564  0.026145  0.907462  ... -0.120258 -0.184232 -0.494610
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
63378   0.034852 -0.037877  0.059103 -0.232039  0.123793  0.111582  111.50
249085  0.289666  0.015163 -0.372677 -0.573232 -0.008820 -0.027873   93.70
137459  0.505461 -1.324073 -0.865838  0.905221  0.158693 -0.012775  500.00
79825   0.081209 -1.084010 -0.545968  0.156185  0.144333 -0.150376    9.98
205406  0.188357  0.547730 -0.149175 -0.140207 -0.026827 -0.015403   58.12
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [96]:
print(y)

63378     0
249085    0
137459    0
79825     0
205406    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [97]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.30,random_state=1)
print(x.shape,xtest.shape,xtrain.shape)

(984, 30) (296, 30) (688, 30)

# LOGISTIC REGRESSION

In [98]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(xtrain,ytrain)
ypred=lr.predict(xtest)

In [99]:
from sklearn.metrics import accuracy_score

In [100]:
x_train_prediction = lr.predict(xtrain)
training_data_accuracy=accuracy_score(x_train_prediction,ytrain)

In [101]:
print('Accuracy on Training data : ',training_data_accuracy)

Accuracy on Training data :  0.9244186046511628

In [102]:
x_test_prediction=lr.predict(xtest)
test_data_accuracy=accuracy_score(x_test_prediction,ytest)

In [103]:
print('Accuracy on Test data :',test_data_accuracy)

Accuracy on Test data : 0.8918918918918919

In [104]:
#agar columns delete kar rahe hai toh : training data:54%
 #                                      testing data:52%

In [105]:
#agar columns delete nahi kar rahe hai toh : training data: 92%
 #                                           testing data:89%

# LINEAR REGRESSION

In [106]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(xtrain,ytrain)
ypred=lr.predict(xtest)

In [107]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
mae=mean_absolute_error(ytest,ypred)
mse=mean_squared_error(ytest,ypred)
rmse=np.sqrt(mse)
r2=r2_score(ytest,ypred)

print(f"\\nMSE : {mse}\nRMSE : {rmse}\nMAE : {mae}\nR2 Score : {r2}")

\nMSE : 0.11120008004679792
RMSE : 0.3334667600328373
MAE : 0.27003999858121985
R2 Score : 0.5544674312520466

# DECISION TREE CLASSIFIER

In [108]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(xtrain,ytrain)
ypred=clf.predict(xtest)

from sklearn.metrics import confusion_matrix,classification_report
cm=confusion_matrix(ytest,ypred)
cr=classification_report(ytest,ypred)

print(f"\nCM :\n {cm}\nCR : {cr}")

CM :
 [[127  15]
 [ 13 141]]
CR :               precision    recall  f1-score   support

           0       0.91      0.89      0.90       142
           1       0.90      0.92      0.91       154

    accuracy                           0.91       296
   macro avg       0.91      0.90      0.91       296
weighted avg       0.91      0.91      0.91       296

In [109]:
clf=DecisionTreeClassifier(criterion="entropy")
clf.fit(xtrain,ytrain)
ypred=clf.predict(xtest)

from sklearn.metrics import confusion_matrix,classification_report
cm=confusion_matrix(ytest,ypred)
cr=classification_report(ytest,ypred)

print(f"\nCM :\n {cm}\nCR : {cr}")

CM :
 [[124  18]
 [ 11 143]]
CR :               precision    recall  f1-score   support

           0       0.92      0.87      0.90       142
           1       0.89      0.93      0.91       154

    accuracy                           0.90       296
   macro avg       0.90      0.90      0.90       296
weighted avg       0.90      0.90      0.90       296

In [110]:
clf=DecisionTreeClassifier(max_depth=15,min_samples_leaf=15)
clf.fit(xtrain,ytrain)
ypred=clf.predict(xtest)

from sklearn.metrics import confusion_matrix,classification_report

cr=classification_report(ytest,ypred)

print(f"\nCR : {cr}")

CR :               precision    recall  f1-score   support

           0       0.91      0.97      0.94       142
           1       0.97      0.91      0.94       154

    accuracy                           0.94       296
   macro avg       0.94      0.94      0.94       296
weighted avg       0.94      0.94      0.94       296

# RANDOM FOREST CLASSIFIER

In [111]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=70,max_depth=15)
rf.fit(xtrain,ytrain)
ypred=rf.predict(xtest)
cr=classification_report(ytest,ypred)

print(f"\nCR : {cr}")

CR :               precision    recall  f1-score   support

           0       0.91      0.96      0.93       142
           1       0.96      0.91      0.93       154

    accuracy                           0.93       296
   macro avg       0.93      0.93      0.93       296
weighted avg       0.93      0.93      0.93       296